/* Verification_Sec */

.Verification_Sec{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #020202;
    color: #fff;
}

.Site-container{
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: auto;
}
@media screen and (max-width:1250px){
    .Site-container{
        width: 90% !important;
        margin-left: 5% !important;
    }
}
/* Site_Nav */
.Site_Nav{
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 2000;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}
/* @media screen and (max-width:1000px){
    .Showresult  .Site_Nav{
        background-color: #fff !important;
    }
} */
.Nav-Content{
    position: relative;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavLogo{
    position: relative;
    display: inline-flex;
    align-items: center;
}
.NavLogo img{
    max-width: 78px;
    opacity: 0;
    -webkit-animation: FadeInImg 0.3s ease forwards;
    -moz-animation: FadeInImg 0.3s ease forwards;
    animation: FadeInImg 0.3s ease forwards;
}
.Showresult .NavLogo img.Logo_1,
.NavLogo img.Logo_2{
    display: none;
}

.Showresult .NavLogo img.Logo_2{
    display: inline-flex;
}

.Nav_Ul{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    grid-gap: 20px;
}
@media screen and (max-width:500px){
    .Nav_Ul{
        gap: 12px !important;
        grid-gap: 12px !important;
    }
}
.Nav_Ul li a{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    grid-gap: 8px;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    border:1px solid rgba(255,255,255,0.5);
    transition: all 0.3s ease-in-out;
}
.Nav_Ul li a img.GlobeIcon_2{
    display: none;
}
@media screen and (max-width:1000px){
    .Nav_Ul li a span{
        display: none !important;
    }
    .Nav_Ul li a{
        padding:8px 10px !important;
        font-size: 15px !important;
        font-weight: 500 !important;
    }
}
.Nav_Ul li a:hover{
    background-color: rgba(255,255,255,0.2);
}
.Nav_Ul li a.support_btn{
    background-color: #058C42;
     border-color: #058C42;
}
.Nav_Ul li a.support_btn:hover{
    background-color: #04471C;
}
@media screen and (max-width:1000px){
    .Showresult  .Nav_Ul li a.support_btn{
        background-color: #F3F3F3 !important;
    }
    .Showresult  .Nav_Ul li{
        display: none !important;
    }
    .Showresult .Nav_Ul li a{
        border-color: #F3F3F3 !important;
    }

    .Showresult .Nav_Ul li a img.GlobeIcon_2{
        display: inline-flex !important;
    }
    .Showresult .Nav_Ul li a img.GlobeIcon_1{
        display: none !important;
    }
   
}



/* hero-sec */
.hero-sec{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 130px;
    padding-bottom: 30px;
}
@media screen and (max-width:1000px){
    .hero-sec{
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../Img//hero-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

.Hero_Grid{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    transition: all 0.3s ease-in-out;
}

/*CEO-INtro*/
.CEO-INtro{
	position: relative;
	width: auto;
	max-width: 400px;
	height: auto;
	min-height: 50px;
	padding: 20px;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 15px;
	color: #fff;
    margin-bottom: 50px;
    padding: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(25px);
	-moz-backdrop-filter: blur(25px);
	backdrop-filter: blur(25px);
}
@media screen and (max-width:1000px){
    .CEO-INtro{
        max-width: 100% !important;
        margin-bottom: 30px !important;
    }
}
@media screen and (max-width:410px){
    .CEO-INtro{
        grid-gap: 10px !important;
    }
}
@media screen and (max-width:310px){
    .CEO-INtro{
       display: block !important;
    }
    .CEO-INtro-1{
        margin-bottom: 10px !important;
    }
}
.CEO-INtro-1{
	position: relative;
}
.CEO-INtro-1 span{
	position: relative;
	width: 50px;
	height: 50px;
	display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	border-radius: 50%;
    background-color: #fff;
}
.CEO-INtro-1 span img{
    position: relative;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width:500px){
	.CEO-INtro-1 span{
		width: 40px !important;
		height: 40px !important;
	}
}
.CEO-INtro-2{
	position: relative;
	width: 100%;
	height: auto;
}
.CEO-INtro-2 h4{
	position: relative;
	width: 100%;
	font-size: 15px;
	font-weight: 500;
}
.CEO-INtro-2 h4 span{
	display: inline-flex;
	align-items: center;
	gap: 3px;
	grid-gap: 3px;
	font-size: 13px;
}

.CEO-INtro-2 p{
	font-size: 14px !important;
	display: block;
	margin-top: 3px;
	opacity: 0.7;
}

.Hero_Dlt{
    position: relative;
    width: 100%;
    height: auto;
    padding:0px 70px;
    padding-bottom: 40px;
}
@media screen and (max-width:1250px){
    .Hero_Grid{
        grid-gap: 50px !important;
    }
    .Hero_Dlt{
        padding: 0px !important;
        padding-bottom: 100px !important;
    }
}
@media screen and (max-width:1000px){
    .Hero_Grid{
        display: block !important;
    }
    .Hero_Dlt{
        padding-bottom: 0px !important;
    }
    .DlT_Form_Sec{
        margin-top: 20px !important;
    }
}
.Showresult .Hero_Dlt_main{
    display: none;
}
.Hero_Dlt_main{
    position: relative;
    width: 100%;
    height: auto;
}
.Hero_Dlt_main h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
}
@media screen and (max-width:1250px){
    .Hero_Dlt_main h1{
        font-size: 40px !important;
    }
}
@media screen and (max-width:450px){
    .Hero_Dlt_main h1{
        font-size: 30px !important;
    }
}

.DlT_Form_Sec{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.DlT_Form_Sec p{
    font-size: 18px;
}

.Verification_Search_Form{
    position: relative;
    width: 100%;
    height: auto;
}

.V_Form_Input{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.react-datepicker-wrapper{
    display: block !important;
    width: 100%;
}
.react-datepicker__navigation{
    width: 20px !important;
    width:30px !important;
    background-color: transparent !important;
}
.react-datepicker__year-select,
.react-datepicker__month-dropdown-container select{
    background-color: #fff !important;
    border:none !important;
    outline: none !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding:10px !important;
}
.V_Form_Input input{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: #F3F3F3;
    outline: none;
    border:none;
    padding: 0px 20px;
    font-size: 15px;
    color: #000;
}
.V_Form_Input input:focus{
    background-color: #fff;
    border:2px solid #000;
}
.V_Form_Input img{
    position: absolute;
    max-width: 30px;
    z-index: 2;
    right: 10px;
}
.F_V_Form_Input input{
    padding-right: 35px;
}
.F_V_Form_Input input::placeholder{
    color: #4B4B4B;
}
.V_Form_Input button{
    width: 164px;
    height: 55px;
    border-radius: 8px;
    outline: none;
    border:none;
    background-color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    .V_Form_Input button{
        font-size: 16px !important;
    }
}
.V_Form_Input button:hover{
    background-color: #F3F3F3;
}






/* Hero_Banner */
.Hero_Banner{
    position: relative;
    width: 100%;
    height: auto;
    text-align: right;
}
@media screen and (max-width:1000px){
    .Hero_Banner img{
        display: none !important;
    }
}
.Hero_Banner img{
    max-width: 100%;
    opacity: 0;
    -webkit-animation: FadeInImg 0.3s ease forwards;
    -moz-animation: FadeInImg 0.3s ease forwards;
    animation: FadeInImg 0.3s ease forwards;
}
@keyframes FadeInImg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes FadeInImg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-moz-keyframes FadeInImg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.Showresult .Hero_Banner img.heroBan_1,
.Hero_Banner img.heroBan_2{
    display: none;
}
.Showresult .Hero_Banner img.heroBan_2{
    display: inline-flex;
}


.Hero_Banner p{
    position: relative;
    width: 100%;
    text-align: right;
    margin-top: 10px;
    color: #808080;
    font-size: 16px;
}

@media screen and (max-width:1000px){
    .Hero_Banner p{
        color: #fff !important;
        opacity: 0.7 !important;
    }
}




/* Search_Reasult_Sec */

.Search_Reasult_Sec{
    position: fixed;
    width: 50%;
    height: 100%;
    z-index: 1000;
    left: -100%;
    top: 0;
    background-color: #fff;
    color:#000A0D;
    padding: 130px 30px;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width:1300px){
    .Search_Reasult_Sec{
        padding: 50px 30px !important;
        padding-top: 120px !important;
    }
}
@media screen and (max-width:1000px){
    .Search_Reasult_Sec{
        width: 100% !important;
        padding: 50px 0px !important;
        padding-top: 120px !important;
        overflow-y: auto;
    }
}
.Showresult .Search_Reasult_Sec{
    left: 0%;
}
.Search_Reasult{
    position: relative;
    width: 100%;
    height: auto;
}

.RStl_Top{
    position: relative;
    width: 100%;
    height: auto;
}

.RStl_Top h2{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    gap: 10px;
    font-size: 40px;
    font-weight: 700;
}
@media screen and (max-width:400px){
    .RStl_Top h2{
        font-size: 30px !important;
    }
}
.RStl_Top h2 span{
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #08D79C;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    grid-gap: 5px;
    gap: 5px;
    border-radius: 8px;
}

.RStl_Top h2 span img{
    width: 13px;
}
.RStl_Top p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}
@media screen and (max-width:500px){
    .RStl_Top p{
        font-size: 18px !important;
        margin-top: 0px !important;
    }
}
@media screen and (max-width:400px){
    .RStl_Top p{
        font-size: 16px !important;
    }
}
.RStl_Box{
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #F4F5FF;
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.RStl_Box table{
    position: relative;
    width: 100%;
    height: auto;
    border:1px solid #B7B7B7;
    border-collapse: collapse;
}
.RStl_Box table tr td{
    position: relative;
    padding: 10px;
    border:1px solid #B7B7B7;
    width: 50%;
    font-size: 15px;
}
.RStl_Box table tr td span{
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;
    grid-gap: 5px;
}
.RStl_Box table tr td span img{
    margin-top: 5px;
}
.RStl_Box table tr td p{
    font-weight: 600;
}


/* Cont_btn_Sec */
.Cont_btn_Sec{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.Cont_btn_Sec button{
    position: relative;
    width: 100%;
    height: auto;
    padding:20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-gap: 10px;
    gap: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.Cont_btn_Sec button img{
    width: 18px;
}
.Cont_btn_Sec button:hover{
    background-color: #151515;
}
@media screen and (max-width:1000px){
.Cont_btn_Sec button{
    font-size: 16px !important;
}
.Cont_btn_Sec button img{
    display: none !important;
}
}





/* Close_Search_Btn */
.Close_Search_Btn{
    position: fixed;
    right: 52%;
    top: 30px;
    outline: none;
    border:none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 2100;
    display: none;
    opacity: 0;
    transform: translateX(100px);
    -webkit-animation: FadeInImgR 0.3s ease forwards;
    -moz-animation: FadeInImgR 0.3s ease forwards;
    animation: FadeInImgR 0.5s ease forwards;
}
@keyframes FadeInImgR{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}
@media screen and (max-width:1000px){
    .Close_Search_Btn{
        right: 4% !important;
    }
}
.Close_Search_Btn img{
    max-width: 30px;
}
.Close_Search_Btn:hover{
    background-color: #F3F3F3;
}
.Showresult .Close_Search_Btn{
    display: inline-flex !important;
}