body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  box-sizing: border-box;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*::selection{
color: #000000;
background: #FF8C44;
}*/
html{
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
   scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  color:#000A0D;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  font-family: "Poppins", sans-serif;
}
li{
  list-style: none;
}
a:hover,
a:focus,
a{
  text-decoration: none;
}
a,button{
  outline: none;
  font-family: "Poppins", sans-serif;
}
p,ul,li,h1,h2,h3,h4,h5,h6,label,a{
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
  text-decoration: none;
  position: relative;
  width: auto;
  height: auto;
}
/*p{
  font-size: 16px;
  line-height: 24px;
}*/
/* @media screen and (max-width:1000px){
  p{
      font-size: 15px !important;
      line-height: 22px !important;
  }
} */
.site-container{
  position: relative;
  width: 95%;
  margin-left: 2.5%;
}

.Box-Show{
  background-color: #fff;
  -webkit-box-shadow: 0 0 40px rgb(0 0 0 / 5%);
  -moz-box-shadow: 0 0 40px rgb(0 0 0 / 5%);
  box-shadow: 0 0 40px rgb(0 0 0 / 5%);
  padding: 20px;
  border-radius: 0.625rem;
}
